<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Diaweb 2 | A&H</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">               
                <a class="navbar-brand" href="https://hectorgoan.noip.me/miapp/"></a>
                <div align="right" style="margin-right: 25px">
                    <a style="margin-top: 23px; margin-left: 25px" href="https://hectorgoan.noip.me/miapp/settings/" class="btn btn-info" role="button">Perfil</a>
                    <a style="margin-top: 23px; margin-left: 25px" href="{% url "logout" %}" class="btn btn-danger" role="button">Logout</a>
                </div>
            </div>
        </div>
    </header><!--/#header-->
    <a id="services"></a>
    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <a class="icon-user icon-md icon-color4"></a>                    
                    <h1>{{user.username}}</h1>
                    <p>{%block title%}{%endblock%} </p>
                    <p>{%block content%}{%endblock%} </p>                  
                </div>
            </div><!--/.item-->
    </section><!--/#main-slider-->

    <section>
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <a href="http://hectorgoan.noip.me/apuntes/" target="_blank" class="icon-file icon-md icon-color1"></a>
                            <h4>Apuntes</h4>
                            <p>Área de intercambio de apuntes.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <a href="http://hectorgoan.noip.me/~{{user.username}}/admin" target="_blank" class="icon-pencil icon-md icon-color3"></a>
                            <h4>Administrar blog</h4>
                            <p>Click en el lápiz para administrar <a href="http://hectorgoan.noip.me/~{{user.username}}/" target="_blank">tu blog</a></p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
	                        <a href="http://hectorgoan.noip.me/mail/" target="_blank" class="icon-inbox icon-md icon-color2"></a>
	                        <h4>Mail</h4>       
                            <p>Mail interno al sistema. Podrás intercambiar mensajes con tus compañeros</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <a href="http://hectorgoan.noip.me/ftpclient/" target="_blank" class="icon-cloud icon-md icon-color4"></a>
                            <h4>Nube personal</h4>
                            <p>Accede o modifica tus archivos personales con este cliente ftp</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-comment icon-md icon-color5"></i> <!--Change to icon-color5 when service is ready -->
                            <h4>Chat</h4>
                            <p>Podrás mantener conversaciones con tus compañeros</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
			    <a href="http://hectorgoan.noip.me/moodle/" target="_blank" class="icon-book icon-md icon-color6"></a>
                            <h4>Moodle</h4>
                            <p>Portal educativo donde aparecerán tus cursos, tareas y apuntes</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->    
    
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 A&H Software Solutions. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>